.App {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  padding: 1rem;
}

header,
section {
  margin-bottom: 2rem;
}

h1,
h2 {
  color: #333;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
